#troy {
    height: 500px;
    width: 400px;
    float: left;
}

.jumbotron {
    color: #000;
    background: #ff0000;
    margin: auto;
}

#about-me {
    flex-wrap: wrap;
    float: right;
    margin-top: 0;
}

body {
    background-color: darkslategrey;
    color: white; 
}

.container {
    margin: auto;
    background-color: black;
    padding: 15px;
    margin-bottom: 50px;
}

h3 a{
    text-decoration: none;
    color: white;
}

h3 a:hover {
    color: peru;
}

main {
    display: flex;
}

.links a {
    display: block;
    text-decoration: none;
    color: white;
} 

.links a:hover {
    color: red;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    color: red;
}